* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  // background-color: rgba(156, 175, 233, 1);
  transition: 1s;
  height: 100vh;
}

.App {
  width: 1024px;
  height: auto;
  margin: 0 auto;
}
